<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>ToDo Lists</title>
</head>
<body>

<h3>Add new ToDo List!</h3>
<form th:object="${newToDoList}" method="POST" action="/add-tasksList">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
    </table>

    <input type="submit" value="add">
</form>

<h3>ToDo Lists:</h3>
<table>
    <th:block th:each="toDoList : ${toDoLists}">
        <tr>
            <td>
                <form th:action="'/toDoLists/delete-list'" method="post">
                    <input type="hidden" name="listId" th:value="${toDoList.getId()}"/>
                    <input type="submit" value="delete" class="btn btn-danger" />
                </form>
            </td>
            <td th:text="${toDoList.getId()}"></td>
            <td><a th:href="'/toDoLists/' + ${toDoList.getId()}"
                   th:text="${toDoList.getName()}"></a></td>
        </tr>
    </th:block>
</table>

</body>
</html>