<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>ToDo's:</title>
</head>
<body>

<table>
    <th:block th:each="task : ${curTasks}">
        <tr>
            <td><a th:href="'/taskLists/' + ${curList.getId()} + '/task/' + ${task.getId()}"
                   th:text="${task.getName()}"></a></td>
            <td th:text="${task.getStatus()}"></td>
        </tr>
    </th:block>
</table>


<h3>Add ToDo!</h3>
<form th:object="${task}" method="POST" th:action="'/toDoLists/'+${curList.getId()}+'/add-todo'">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
    </table>

    <input type="submit" value="add">
</form>

</body>
</html>