<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>ToDo's:</title>
</head>
<body>

<h3>Add ToDo!</h3>
<form th:object="${task}" method="POST" th:action="'/toDoLists/'+${curList.getId()}+'/add-todo'">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
    </table>

    <input type="submit" value="add">
</form>

<table>
    <th:block th:each="task : ${curTasks}">
        <tr>
            <td>
                <form th:action="'/toDoLists/'+${curList.getId()}+'/complete-todo'" method="post">
                    <input type="hidden" name="toDoId" th:value="${task.getId()}"/>
                    <input type="submit" value="complete" class="btn btn-danger" />
                </form>
            </td>
            <td th:text="${task.getName()}"></td>
            <td th:text="${task.getStatus()}"></td>
        </tr>
    </th:block>
</table>


</body>
</html>